.navigation {
  .menu {
    position: absolute;
    color: $color-4;
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;

    i {
      display: block;
      float: right;
      font-size: 3em;
      transition: transform 0.5s ease-out;
    }
  }

  ul {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 1.5rem;
    left: 0;
    z-index: 500;

    a {
      text-decoration: none;
      color: $color-3;
    }

    li {
      font-size: xx-large;
      color: $color-3;
      cursor: pointer;
      list-style-type: none;

    }
  }

  &.expanded {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 500;
    background: $gradient-1;

    ul {
      padding: 0;
      top: 30%;
      position: absolute;
      transform: translate(0, 0);
      text-align: center;
    }

    li {
      padding-top: 2%;
    }

    i {
      transform: rotateZ(180deg);
    }
  }

  @media screen and (min-width: $breakpointMed) {
    .menu {
      display: none;
    }

    ul {
      transform: none;
      display: block;
      z-index: 0;
      position: relative;
      width: initial;
      height: initial;

      @include verticalCenter;

      a {
        padding: 0.5rem;

        li {
          font-size: 1.5rem;
          transition: 0.2s;

          &:hover {
            color: $color-4;
          }
        }
      }

      .nav {
        position: relative;

        &.nav-active {
          &::before {
            content: "";
            height: 0.2rem;
            position: absolute;
            bottom: 0;
            width: 0%;
            left: 50%;
            transform: translate(-50%);
            background: $color-3;
            animation: anim 0.6s ease forwards;
            margin-top: 2%;
          }
        }
      }
    }

    @include verticalCenter;
  }

  @keyframes anim {
    to {
      width: 100%;
    }
  }

}