.section {


    .Collapsible {
        width: 100%;
        background-color: $base;
        justify-content: center;
        color: gray;
    }

    //The content within the collaspable area
    .Collapsible__contentInner {
        padding: 10px;
        border-top: 0;

        p {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 20px;
            color: gray;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    //The link which when clicked opens the collapsable area
    .Collapsible__trigger {
        display: block;
        border-radius: 100px;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        border: 1px solid white;
        padding: 10px;
        background: $blue;
        color: white;


        &:after {
            cursor: pointer;
            font-family: 'FontAwesome';
            content: '▾';
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
            transition: transform 300ms;
        }

        &.is-open {
            &:after {
                transform: rotateZ(180deg);
            }
        }

        &.is-disabled {
            opacity: 0.5;
            background-color: grey;
        }
    }

    .CustomTriggerCSS {
        background-color: lightcoral;
        transition: background-color 200ms ease;


    }

    .CustomTriggerCSS--open {
        background-color: darkslateblue;
    }

    .Collapsible__custom-sibling {
        padding: 5px;
        font-size: 12px;
        background-color: #CBB700;
        color: black;
    }

    @include verticalCenter;

}