.gitHubButton {
    @include verticalCenter;

    a {
        color: $color-3;

        :hover {
            color: $color-4;
        }
    }

    .content {
        display: inline-block;
    }

    .logo {
        margin-left: 0.75rem;
        display: inline-block;
    }
}