.button {
  display: block;
  float: right;
  border: none;
  border-radius: 100px;
  border-color: transparent;
  background-size: cover;
  background-color: $color-1;
  width: 4rem;
  height: 2rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

@media screen and (min-width: $breakpointMed) {
  .button {
    margin-top: 4rem;
    margin-left: 0.7rem;
  }
}

.languageButton {
  transition: all 0.5s;
}

.fr {
  @extend .button;
  background-image: url("../../../assets/fr.svg");
}

.eng {
  @extend .button;
  background-image: url("../../../assets/uk.svg");
}