.button {
  display: block;
  float: right;
  border: none;
  border-radius: 100px;
  border-color: transparent;
  background-size: cover;
  background-color: $color-1;
  width: 4rem;
  height: 2rem;
  margin-top: 2%;
  cursor: pointer;
}

.fr {
  @extend .button;
  background-image: url("../../../assets/fr.svg");
}

.eng {
  @extend .button;
  background-image: url("../../../assets/uk.svg");
}