.mail {
    @include verticalCenter;
    color: $color-6;

    .logo {
        padding-left: 0.5%;
        display: inline-block;
    }

    .link {
        padding-left: 0.5%;
        color: $color-3;

        &:hover {
            color: $color-4;
        }
    }
}