.mail {
    @include verticalCenter;
    .logo {
        margin-left: 2%;
        color: $color-5;
        display: inline-block;
    }

    .link {
        padding-left: 2%;
        color: $color-3;
        &:hover {
            color: $color-4;
        }
    }
}