.contactPage {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;

  .contact {
    @include verticalCenter;

    text-align: center;
  }

  .content {
    font-size: large;
    position: relative;
    top: 35%;
    background-color: $color-2;
    margin: 0 auto;
    border-radius: $borderRadius;

    .links {
      flex-direction: column;

      ul {
        padding-left: 0;
        padding-bottom: 1rem;
      }

      li {
        text-align: center;
        list-style-type: none;
      }
    }
  }

  @media screen and (min-width: $breakpointMed) {
    .content {
      top: 25%;
      font-size: x-large;

      .links {
        flex-direction: initial;
      }
    }
  }
}