.cvPage {
  .title {
    @include verticalCenter;
    padding-top: 7vh;
    text-align: center;
  }

  .myPicture {
    width: 137px;
    height: 146px;
    margin-top: 7vh;
    margin-left: 10vw;
  }

  .name {
    color: $color-5;
    display: inline-block;
    position: relative;
    padding-left: 2vh;
    margin-top: 8vh;
    font-size: 1.3em;
  }

  .cv {
    padding-top: 10%;
  }

  @media screen and (min-width: $breakpointMed) {
    .myPicture {
      margin-top: 0;
      margin-left: 0;
    }

    .name {
      font-size: 3em;
      margin-top: 4vh;
    }

    .cv {
      padding-top: 5%;
      font-size: larger;
    }
  }
}