.homePage {
  .text {
    text-align: center;
    font-size: x-large;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    a {
      text-decoration: none;
      color: $color-5;
    }
  }

  @media screen and (min-width: $breakpointMed) {
    .text {
      font-size: xx-large;
      padding-left: 0;
    }
  }
}