.homePage {

  .text {
    text-align: center;
    font-size: x-large;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    p {
      padding: 10%;
    }

    a {
      padding: 0.3%;
      color: $color-3;
    }
  }

  @media screen and (min-width: $breakpointMed) {
    .text {
      font-size: xx-large;
      padding-left: 0;
    }
  }
}