.projectsPage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "1"
    "2";

  .projectsListContent {
    .radioBanner {
      @include verticalCenter;
      flex-wrap: wrap;
      grid-area: 1;
      border-radius: $borderRadius;
      background: $color-2;
      box-shadow: $shadow;

      li {
        color: $color-3;
        text-transform: uppercase;
        padding-right: 2%;
        @include verticalCenter;
        float: left;

        input[type="radio"] {
          visibility: hidden;
          position: relative;

          &:before {
            content: "";
            visibility: visible;
            position: absolute;
            top: -4px;
            left: -12px;
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            border: 2px solid $color-4;
            cursor: pointer;
            transition: 0.3s;
          }

          &:after {
            content: "";
            visibility: visible;
            position: absolute;
            top: -4px;
            left: -12px;
            height: 0.9rem;
            width: 0.9rem;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;
            background: $color-4;
            transform: scale(0);
            transform-origin: center;
          }
        }

        input:checked:after {
          transform: scale(1.17) translate(-25%, -25%);
          top: 2px;
          left: -6px;
        }

        input:checked + label {
          color: $color-4;
        }

        label {
          display: inline-block;
          position: relative;
          cursor: pointer;
          padding: 0.8rem;
        }
      }
    }
  }

  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    i {
      font-size: 1.4rem;
      padding: 0 0.35rem;
      color: $color-3;
    }

    .project {
      background: $color-2;
      border-radius: $borderRadius;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      text-align: center;
      width: 33%;
      height: 15rem;
      max-height: 50%;
      padding: 0.3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 20% 60% 20%;
      grid-template-areas:
        "1"
        "2"
        "3";
    }

    h3 {
      grid-area: 2;
      font-family: $font-2;
      color: $color-5;
      @include verticalCenter;
    }

    img {
      grid-area: 1;
      width: 20%;
      height: 50%;
      @include verticalCenter;
      display: inline-block;
    }

    .info {
      grid-area: 3;
      cursor: pointer;
      font-size: 1.5rem;
      @include verticalCenter;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .showInfo {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      padding: 0;
      margin: 0;
      background: rgba(0, 0, 0, 0.507);
      animation: popup 0.3s ease forwards;
      transform-origin: center;
      display: block;
      overflow-y: scroll;

      ::-webkit-scrollbar {
        width: 0px;
      }

      .infoContent {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: auto;
        grid-template-areas:
          "title title sourceButton"
          "content content content"
          "authors exitButton exitButton";
        position: relative;
        top: 25%;
        width: 60%;
        margin: 0 auto;
        color: $color-5;
        background: $color-2;
        border-radius: $borderRadius;
        padding: 2rem;
        box-shadow: 0 10px 10px $color-3;
        animation: popup 0.6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }
      }

      h3 {
        grid-area: title;
        text-align: left;
        color: $color-3;
        font-size: 1.5rem;
      }

      .infoButton {
        cursor: pointer;
        color: $color-2;
        background: $color-3;
        border-radius: $borderRadius;
        border: none;
        transition: 0.2s;

        &:hover {
          background: $color-4;
        }
      }

      .sourceCode {
        grid-area: sourceButton;

        .sourceButton {
          @extend .infoButton;
          text-decoration: none;
        }
      }

      .authors {
        @include verticalCenter;
        grid-area: authors;
        display: block;
        color: $color-4;

        .author {
          display: inline-block;
          padding-left: 0.3rem;
        }
      }

      .exitButton {
        @extend .infoButton;
        grid-area: exitButton;
        margin-left: 30%;
        width: 40%;
      }

      .text {
        display: block;
        grid-area: content;
        overflow-y: scroll;
      }
    }
  }

  @media screen and (min-width: $breakpointMed) {
    .project {
      width: 50%;
    }
  }
}
