$blue: #61dafb;
$blue-2: #282c34;
$yellow: rgb(248, 159, 0);
$cyan: rgb(0, 172, 157);
$grey: rgb(51, 51, 51);
$black: rgb(38, 38, 38);
$base: rgb(255, 255, 255);
$lightGrey: rgb(235, 235, 235);

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 50vh;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #2a1d52;
$color-2: #6C77F4;
$color-3: rgb(99, 164, 233);
$color-4: #4FEDD2;
$color-5: #36D0EA;
$white: #ddd;
$black: #333;

$BASE_FONT_SIZE: 16px;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {

    li {
        list-style-type: none;
        position: relative;
        padding-left: 15px;
    }

    li:before {
        content: "\25BA \0020";
        font-size: 16px;
        position: absolute;
        top: 5px;
        left: -10px;
    }
}

body {
    @include verticalCenter;
    color: gray;
}

.title {
    display: block;
}

.name {
    color: gray;
    display: inline-block;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 2%;
}

.myPicture {
    float: left;
}