$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 50vh;

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");

$font-1: "Nova Round", cursive;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;

$color-1: #0B3C5D;
$color-2: #328cc1;
$color-3: #D9B310;
$color-4: #ffd000;
$color-5: #D9B310;
$color-6: #61c0f7;

$gradient-1: linear-gradient($color-1, $color-2, $color-1);

$white: #ddd;
$black: #333;

$BASE_FONT_SIZE: 16px;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
  }

  li:before {
    color: $color-2;
    content: "\25BA \0020";
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: -10px;
  }
}

body {
  @include verticalCenter;
  height: 100%;
  color: $color-5;
  background: $gradient-1;
}

.root {
  height: 100vh;
  width: 100vw;
}